# OS files
.DS_Store
Thumbs.db

# Editors
/.idea/
/.vscode/

# Python
build/
dist/
__pycache__/
*.egg-info/
/.pytest_cache/
/.ruff_cache/
/.venv/
uv.lock

# Coverage
.coverage
.coverage.*
coverage.xml
htmlcov/

# Pixi
.pixi/

# Example files
/*.parquet
/tests/data-files/convert/*/extracted.*/
/tests/data-files/convert/**/*.gfs
*.tmp
