# OS files
.DS_Store
Thumbs.db

# Editors
/.idea/
/.vscode/

# Python
dist/
__pycache__/
*.egg-info/
/.pytest_cache/
/.ruff_cache/

# Pixi
.pixi/
pixi.lock

# Example files
/*.parquet
/tests/data-files/convert/*/extracted.*/
/tests/data-files/convert/**/*.gfs
